@media screen and (max-width: 1200px) {
    #header .m-btn {
        display: block;
    }

    .pc-menu {
        display: none;
    }

    #header .center {
        justify-content: center;
    }

    .logoWrap {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .cart {
        position: relative;
        left: 13px;
    }

    nav {
        margin-left: auto;
    }

    .gnb {
        width: 30px;
    }

    #gnb li:first-child {
        display: none;
    }

    .off {
        display: none;
    }

    .product-list {
        grid-template-columns: repeat(2, 1fr);
        /* 모바일: 2열 */
    }

    .point-text {
        position: relative;
        left: 33%;
        font-family: "Syne", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
    }
}