@media screen and (max-width: 1200px) {
    #header .m-btn {
        display: block;
    }

    .pc-menu {
        display: none;
    }

    #header .center {
        justify-content: center;
    }

    .logoWrap {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .cart {
        position: relative;
        left: 13px;
    }

    nav {
        margin-left: auto;
    }

    .gnb {
        width: 30px;
    }

    #gnb li:first-child {
        display: none;
    }

    .off {
        display: none;
    }

    .product-list {
        grid-template-columns: repeat(2, 1fr);
        /* 모바일: 2열 */
    }

    .point-text {
        position: relative;
        left: 33%;
        font-family: "Syne", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
    }

    .on {
        display: inline-block;
    }

    .container {
        flex-direction: column;
    }

    .product-info {
        position: static;
    }

    .sticky-content {
        position: static;
    }

}



/* 모바일 반응형 높이 조절 */
@media (max-width: 768px) {
    #main-visual {
        margin-top: 100px;
        height: auto;
        /* 모바일에서 이미지 비율에 맞춰 높이 자동 조절 */
    }

    .slider-wrap,
    .slider,
    .slide {
        height: auto;
        /* 고정 높이 해제 */
    }

    .slide img {
        height: auto;
        /* 비율 유지 */
        object-fit: contain;
        /* 이미지 전체 표시 */
    }
}